<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.usb.host" />

    <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme" >
        <activity
            android:exported="true"
            android:name=".Activity_Logo"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:exported="true"
            android:name=".Activity_Main"
            android:label="@string/app_title" />
        <activity
            android:exported="true"
            android:name=".Activity_1DBarcodes" />
        <activity
            android:exported="true"
            android:name=".Activity_DeviceList"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:exported="true"
            android:name=".Activity_Print_Image"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:exported="true"
            android:name=".Activity_PRNFile" />
        <activity
            android:exported="true"
            android:name=".Activity_Image_File" />
        <activity
            android:exported="true"
            android:name=".Activity_QRCode" />
        <activity
            android:exported="true"
            android:name=".Activity_Setting" />
        <activity
            android:exported="true"
            android:name=".Activity_TextFormat" />
        <activity
            android:exported="true"
            android:name=".Activity_Wifi"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:exported="true"
            android:name=".Activity_Image_Download" />
        <activity
            android:exported="true"
            android:name=".Activity_Image_Print" />
        <activity
            android:exported="true"
            android:name=".Activity_Status"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:exported="true"
            android:name=".Activity_TextBackground" />
        <activity
            android:exported="true"
            android:name=".AutoTextActivity"></activity>
        <activity
            android:exported="true"
            android:name=".BTActivity"></activity>
    </application>
</manifest>